.table{
		font-family: Verdana, Helvetica, sans-serif;
        
        width: 100%;    
	}
	.table th{
           color: black;
           padding-top: 12px;
  	       padding-bottom: 12px;
           text-align: left;
           background: #e6f7ff;
           text-align: center;
           border: 1px solid;
	}
	table, td, th {
  		border: 1px solid;
  		padding-top: 12px;
  	       padding-bottom: 12px;
  	       font-weight: ;

}